.ingredient {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 35px 0 0 16px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list {
  display: flex;
  flex-direction: column;
  height: 470px;
  list-style: none;
  overflow-y: auto;
  padding-left: 0;
}

.list::-webkit-scrollbar {
  background-color: var(--background-element);
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.item:last-child {
  padding-bottom: 0;
}

.order {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  max-width: 552px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-size: 20px;
  margin: auto;
  text-align: center;
  width: 540px;
}
