.header {
  background-color: var(--background);
  margin: 0 auto 0;
  max-width: 1280px;
  position: relative;
  width: 1920px;
}

.logo {
  left: 495px;
  position: absolute;
  top: 20px;
}
.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  cursor: pointer;
}

.item:last-of-type {
  margin-left: auto;
}


.link {
  display: flex;
  color: var(--text-primary-color);
  cursor: pointer;
  justify-items: center;
  text-decoration: none;
}
